/* Floats Grid  */

* {
	box-sizing: border-box;
}

.div {
	padding: 5px;
}

@media screen and (min-width: 500px){
	.container {
	margin: 0 auto;
	background: blue;
}

.container {
	background: blue;
	border: 0px solid white;
	padding: 20px;
	color: white;
	width: 80%;
	margin: 0 auto;
	max-width: 1000px;
}

p {
	font-size: 14px;
	font-family: verdana;
	color: #ffffff;
	text-align: center;
}

.row {
	margin-bottom: 20px;
	border: 1px solid #D6D6D6;
}

.row:after {
	content:" ";
	display: block;
	clear: both;
	visibility: hidden;
	height:0;
}


.column {
	padding: 10px;
	margin: 10px;
	border: 1px solid #D6D6D6;
	float: left;
	display: block;


}


.full {
	width: 100%;
}

.two-thirds {
	width: 66%;
}

.third {
	width: 33%;
}

.half {
	width: 50%;
}

.fourth {
	width: 25%;
}


@media screen and ((min-width: 700px) {
  #sidebar ul li a:before {
    content: "Email: ";
    font-style: italic;
    color: #666;
  }
