/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 04 */

.container {
	width: 1024px;
	margin: 0 auto;
}


.header { 
	height: 100px;
	overflow: auto;
	}
/* hint! you have to contain the floated children elements. */

.logo {
float:left;	
/* hint! */
}

.navigation {
	float: right;
	/* hint! */
}

.sidebar {
	float: left;
	width: 25%;
	clear: both;
	height: 200px;
}

.main-content {
	width: 75%;
	float: right;
	height: 200px;
}

.footer {
	clear: both;
}
