/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 11 */

.header {}

.logo {
	float: left;
	width: 100px;
}

.navigation {
	float: right;
	width: 200px;
}

.main-content {}
/* hint! */

.post {}
/* hint! */

.post:after {
	content: "";
	display: block;
	clear: both;
}

.image {
	float: left;
	width: 25%;
}

.image img {
	min-height: 200px;
	min-width: 200px;
}

.post_excerpt {
	float: left;
	width: 70%;
}
